In [1]:
import pandas as pd

In [2]:
dataset_1 = pd.read_csv('dataset_1.csv')
dataset_2 = pd.read_csv('dataset_2.csv')
dataset_3 = pd.read_csv('dataset_3.csv')
dataset_4 = pd.read_csv('dataset_4.csv', low_memory=False)

In [3]:
print(dataset_1.shape)
print(dataset_2.shape)
print(dataset_3.shape)
print(dataset_4.shape)

(56700, 14)
(1650, 6)
(481140, 15)
(269016, 11)

In [8]:
# get data above 2020
dataset_1 = dataset_1[dataset_1['Year'] >= 2020]
print(dataset_1.shape)

dataset_3 = dataset_3[dataset_3['Year'] >= 2020]
print(dataset_3.shape)

dataset_4 = dataset_4[dataset_4['Year'] >= 2020]
print(dataset_4.shape)

(31428, 14)
(206940, 15)
(115810, 11)

In [5]:
dataset_4.head()

,Jurisdiction,Week Ending Date,State Abbreviation,Year,Week,Age Group,Number of Deaths,Time Period,Type,Suppress,Note
0,Alabama,01/10/2015,AL,2015,1,25-44 years,67.0,2015-2019,Predicted (weighted),NaN,NaN
1,Alabama,01/17/2015,AL,2015,2,25-44 years,49.0,2015-2019,Predicted (weighted),NaN,NaN
2,Alabama,01/24/2015,AL,2015,3,25-44 years,55.0,2015-2019,Predicted (weighted),NaN,NaN
3,Alabama,01/31/2015,AL,2015,4,25-44 years,59.0,2015-2019,Predicted (weighted),NaN,NaN
4,Alabama,02/07/2015,AL,2015,5,25-44 years,47.0,2015-2019,Predicted (weighted),NaN,NaN

In [6]:
print("Dataset 1")
print(dataset_1.columns)
print('\n')
print("Dataset 2")
print(dataset_2.columns)
print('\n')
print("Dataset 3")
print(dataset_3.columns)
print('\n')
print("Dataset 4")
print(dataset_4.columns)

Dataset 1
Index(['Week Ending Date', 'State', 'Observed Number', 'Upper Bound Threshold',
       'Exceeds Threshold', 'Average Expected Count', 'Excess Estimate',
       'Total Excess Estimate', 'Percent Excess Estimate', 'Year', 'Type',
       'Outcome', 'Suppress', 'Note'],
      dtype='object')


Dataset 2
Index(['State', 'Year', 'Month', 'Period', 'Indicator', 'Data Value'], dtype='object')


Dataset 3
Index(['Jurisdiction', 'Week Ending Date', 'State Abbreviation', 'Year',
       'Week', 'Cause Group', 'Number of Deaths', 'Cause Subgroup',
       'Time Period', 'Suppress', 'Note',
       'Average Number of Deaths in Time Period',
       'Difference from 2015-2019 to 2020',
       'Percent Difference from 2015-2019 to 2020', 'Type'],
      dtype='object')


Dataset 4
Index(['Jurisdiction', 'Week Ending Date', 'State Abbreviation', 'Year',
       'Week', 'Age Group', 'Number of Deaths', 'Time Period', 'Type',
       'Suppress', 'Note'],
      dtype='object')

In [7]:
"""
DATASET ATTRIBUTES AND SAMPLE VALUES

Dataset 1
'Week Ending Date' E.G 2017-01-07 
'State' e.g Alabama
'Observed Number' e.g 1121.0
'Upper Bound Threshold' e.g 1136
'Exceeds Threshold' e.g False
'Average Expected Count' e.g 1059
'Excess Estimate' e.g 62
'Total Excess Estimate' e.g 29601
'Percent Excess Estimate' e.g 5.852700
'Year' e.g 2017
'Type' e.g Predicted(Weighted)
'Outcome' e.g All causes
'Suppress' 
'Note'


Dataset 2
'State' e.g ALABAMA
'Year' e.g 2022
'Month' e.g January
'Period' e.g Monthly
'Indicator' e.g Number of Live Births
'Data Value' e.g 295000


Dataset 3
'Jurisdiction' e.g Alabama
'Week Ending Date' e.g 01/10/2015
'State Abbreviation' e.g AL
'Year' e.g 2015
'Week' e.g 1
'Cause Group' e.g Alzheimer disease and dementia
'Number of Deaths' e.g 120 
'Cause Subgroup' e.g Alzheimer disease and dementia
'Time Period' e.g 2015-2019
'Suppress', 
'Note',
'Average Number of Deaths in Time Period' e.g 103
'Difference from 2015-2019 to 2020',
'Percent Difference from 2015-2019 to 2020', 
'Type' e.g Predicted (weighted)


Dataset 4
'Jurisdiction' e.g Alabama
'Week Ending Date' e.g 01/10/2015
'State Abbreviation' e.g AL
'Year' e.g 2015
'Week' e.g 1
'Age Group' e.g 25-44 years 
'Number of Deaths' e.g 67.0
'Time Period' e.g 2015-2019
'Type' e.g Predicted (weighted)
'Suppress', 
'Note'
"""

"\nDATASET ATTRIBUTES AND SAMPLE VALUES\n\nDataset 1\n'Week Ending Date' E.G 2017-01-07 \n'State' e.g Alabama\n'Observed Number' e.g 1121.0\n'Upper Bound Threshold' e.g 1136\n'Exceeds Threshold' e.g False\n'Average Expected Count' e.g 1059\n'Excess Estimate' e.g 62\n'Total Excess Estimate' e.g 29601\n'Percent Excess Estimate' e.g 5.852700\n'Year' e.g 2017\n'Type' e.g Predicted(Weighted)\n'Outcome' e.g All causes\n'Suppress' \n'Note'\n\n\nDataset 2\n'State' e.g ALABAMA\n'Year' e.g 2022\n'Month' e.g January\n'Period' e.g Monthly\n'Indicator' e.g Number of Live Births\n'Data Value' e.g 295000\n\n\nDataset 3\n'Jurisdiction' e.g Alabama\n'Week Ending Date' e.g 01/10/2015\n'State Abbreviation' e.g AL\n'Year' e.g 2015\n'Week' e.g 1\n'Cause Group' e.g Alzheimer disease and dementia\n'Number of Deaths' e.g 120 \n'Cause Subgroup' e.g Alzheimer disease and dementia\n'Time Period' e.g 2015-2019\n'Suppress', \n'Note',\n'Average Number of Deaths in Time Period' e.g 103\n'Difference from 2015-2019 to 2020',\n'Percent Difference from 2015-2019 to 2020', \n'Type' e.g Predicted (weighted)\n\n\nDataset 4\n'Jurisdiction' e.g Alabama\n'Week Ending Date' e.g 01/10/2015\n'State Abbreviation' e.g AL\n'Year' e.g 2015\n'Week' e.g 1\n'Age Group' e.g 25-44 years \n'Number of Deaths' e.g 67.0\n'Time Period' e.g 2015-2019\n'Type' e.g Predicted (weighted)\n'Suppress', \n'Note'\n"

In [8]:
# change the state names to lowercase
dataset_1['State'] = dataset_1['State'].str.lower()
dataset_1['State'].unique()

array(['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'new york city',
       'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon',
       'pennsylvania', 'puerto rico', 'rhode island', 'south carolina',
       'south dakota', 'tennessee', 'texas', 'united states', 'utah',
       'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin',
       'wyoming'], dtype=object)

In [9]:
# convert state names to lowercase
dataset_2['State'] = dataset_2['State'].str.lower()
dataset_2['State'].unique()

array(['united states', 'alabama', 'alaska', 'arizona', 'arkansas',
       'california', 'colorado', 'connecticut', 'delaware',
       'district of columbia', 'florida', 'georgia', 'hawaii', 'idaho',
       'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana',
       'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota',
       'mississippi', 'missouri', 'montana', 'nebraska', 'nevada',
       'new hampshire', 'new jersey', 'new mexico', 'new york',
       'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon',
       'pennsylvania', 'rhode island', 'south carolina', 'south dakota',
       'tennessee', 'texas', 'utah', 'vermont', 'virginia', 'washington',
       'west virginia', 'wisconsin', 'wyoming', 'puerto rico'],
      dtype=object)

In [10]:
# change Jurisdiction to State and convert to lowercase
dataset_3 = dataset_3.rename(columns={'Jurisdiction': 'State'})
dataset_3['State'] = dataset_3['State'].str.lower()
dataset_3['State'].unique()

array(['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'new york city',
       'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon',
       'pennsylvania', 'puerto rico', 'rhode island', 'south carolina',
       'south dakota', 'tennessee', 'texas', 'united states', 'utah',
       'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin',
       'wyoming'], dtype=object)

In [11]:
# rename Jurisdiction to State and convert to lowercase
dataset_4.rename(columns={'Jurisdiction': 'State'}, inplace=True)
dataset_4['State'] = dataset_4['State'].str.lower()
dataset_4['State'].unique()

array(['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'new york city',
       'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon',
       'pennsylvania', 'puerto rico', 'rhode island', 'south carolina',
       'south dakota', 'tennessee', 'texas', 'united states', 'utah',
       'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin',
       'wyoming'], dtype=object)

In [12]:
print("Dataset 1")
print(dataset_1.columns)
print('\n')
print("Dataset 2")
print(dataset_2.columns)
print('\n')
print("Dataset 3")
print(dataset_3.columns)
print('\n')
print("Dataset 4")
print(dataset_4.columns)

Dataset 1
Index(['Week Ending Date', 'State', 'Observed Number', 'Upper Bound Threshold',
       'Exceeds Threshold', 'Average Expected Count', 'Excess Estimate',
       'Total Excess Estimate', 'Percent Excess Estimate', 'Year', 'Type',
       'Outcome', 'Suppress', 'Note'],
      dtype='object')


Dataset 2
Index(['State', 'Year', 'Month', 'Period', 'Indicator', 'Data Value'], dtype='object')


Dataset 3
Index(['State', 'Week Ending Date', 'State Abbreviation', 'Year', 'Week',
       'Cause Group', 'Number of Deaths', 'Cause Subgroup', 'Time Period',
       'Suppress', 'Note', 'Average Number of Deaths in Time Period',
       'Difference from 2015-2019 to 2020',
       'Percent Difference from 2015-2019 to 2020', 'Type'],
      dtype='object')


Dataset 4
Index(['State', 'Week Ending Date', 'State Abbreviation', 'Year', 'Week',
       'Age Group', 'Number of Deaths', 'Time Period', 'Type', 'Suppress',
       'Note'],
      dtype='object')

In [13]:
# merge datasets 1 and 2, group by state and year
dataset_12 = pd.merge(dataset_1, dataset_2, how='inner', on=['State', 'Year'])
dataset_12.head()

,Week Ending Date,State,Observed Number,Upper Bound Threshold,Exceeds Threshold,Average Expected Count,Excess Estimate,Total Excess Estimate,Percent Excess Estimate,Year,Type,Outcome,Suppress,Note,Month,Period,Indicator,Data Value
0,2022-01-01,alabama,1253.0,1172,True,1112,141,29601,12.684951,2022,Predicted (weighted),All causes,NaN,Data in recent weeks are incomplete. Only 60% ...,January,Monthly,Number of Deaths,6824
1,2022-01-01,alabama,1253.0,1172,True,1112,141,29601,12.684951,2022,Predicted (weighted),All causes,NaN,Data in recent weeks are incomplete. Only 60% ...,February,Monthly,Number of Deaths,6079
2,2022-01-01,alabama,1253.0,1172,True,1112,141,29601,12.684951,2022,Predicted (weighted),All causes,NaN,Data in recent weeks are incomplete. Only 60% ...,March,Monthly,Number of Deaths,5106
3,2022-01-01,alabama,1253.0,1172,True,1112,141,29601,12.684951,2022,Predicted (weighted),All causes,NaN,Data in recent weeks are incomplete. Only 60% ...,April,Monthly,Number of Deaths,4642
4,2022-01-01,alabama,1253.0,1172,True,1112,141,29601,12.684951,2022,Predicted (weighted),All causes,NaN,Data in recent weeks are incomplete. Only 60% ...,May,Monthly,Number of Deaths,4702

In [14]:
# get databset above the year 2020 limit random 10000 samples
dataset_3 = dataset_3[dataset_3['Year'] > 2020]
dataset_3 = dataset_3.sample(n=10000, random_state=1)
dataset_3.shape

# group by state and year
dataset_3 = dataset_3.groupby(['State', 'Year']).sum().reset_index()
dataset_3.head()

# group dataset 12 by state and year
dataset_12 = dataset_12.groupby(['State', 'Year']).sum().reset_index()
dataset_12.head()

# merge datasets 12 and 3, group by state and year
dataset_123 = pd.merge(dataset_12, dataset_3, how='inner', on=['State', 'Year'])
dataset_123.head()

# group dataset_4 by state and year
dataset_4 = dataset_4.groupby(['State', 'Year']).sum().reset_index()
dataset_4.head()

# merge datasets 123 and 4, group by state and year
dataset_1234 = pd.merge(dataset_123, dataset_4, how='inner', on=['State', 'Year'])
dataset_1234.head()

(10000, 15)

: